<a href="https://colab.research.google.com/github/Pavel184/NLP_basic_course/blob/Homework_lesson_1/Homework_lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
nltk.download('punkt')
import warnings 
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import PorterStemmer, WordNetLemmatizer
nltk.download('wordnet')
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import html.parser
from google.colab import drive

drive.mount('/content/drive')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
train_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/NLP_basic_course/train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/NLP_basic_course/test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head(30)

    id  label                                              tweet
0    1    0.0   @user when a father is dysfunctional and is s...
1    2    0.0  @user @user thanks for #lyft credit i can't us...
2    3    0.0                                bihday your majesty
3    4    0.0  #model   i love u take with u all the time in ...
4    5    0.0             factsguide: society now    #motivation
5    6    0.0  [2/2] huge fan fare and big talking before the...
6    7    0.0   @user camping tomorrow @user @user @user @use...
7    8    0.0  the next school year is the year for exams.ð...
8    9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9   10    0.0   @user @user welcome here !  i'm   it's so #gr...
10  11    0.0   â #ireland consumer price index (mom) climb...
11  12    0.0  we are so selfish. #orlando #standwithorlando ...
12  13    0.0  i get to see my daddy today!!   #80days #getti...
13  14    1.0  @user #cnn calls #michigan middle school 'buil...
14  15    1.0  no comment!  in #australia   #opkillingbay #se...
15  16    0.0  ouch...junior is angryð#got7 #junior #yugyo...
16  17    0.0  i am thankful for having a paner. #thankful #p...
17  18    1.0                             retweet if you agree!
18  19    0.0  its #friday! ð smiles all around via ig use...
19  20    0.0  as we all know, essential oils are not made of...
20  21    0.0  #euro2016 people blaming ha for conceded goal ...
21  22    0.0  sad little dude..   #badday #coneofshame #cats...
22  23    0.0  product of the day: happy man #wine tool  who'...
23  24    1.0    @user @user lumpy says i am a . prove it lumpy.
24  25    0.0   @user #tgif   #ff to my #gamedev #indiedev #i...
25  26    0.0  beautiful sign by vendor 80 for $45.00!! #upsi...
26  27    0.0   @user all #smiles when #media is   !! ðð...
27  28    0.0  we had a great panel on the mediatization of t...
28  29    0.0        happy father's day @user ðððð
29  30    0.0  50 people went to nightclub to have a good nig...

In [6]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

0.	Заменим html-сущности (к примеру: < > &). "<" заменим на “<” и "&" заменим на “&”)""". Сделаем это с помощью HTMLParser.unescape(). Всю предобработку делаем в новом столбце 'clean_tweet'

In [7]:
combine_df['clean_tweet'] = [html.parser.HTMLParser().unescape(str(tweet)) for tweet in combine_df['tweet']]

In [8]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...   @user when a father is dysfunctional and is s...
1   2  ...  @user @user thanks for #lyft credit i can't us...
2   3  ...                                bihday your majesty
3   4  ...  #model   i love u take with u all the time in ...
4   5  ...             factsguide: society now    #motivation

[5 rows x 4 columns]

1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

In [9]:
combine_df['clean_tweet'] = [re.sub(r"@[\w]*", ' ', str(tweet)) for tweet in combine_df['clean_tweet']]

In [10]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...     when a father is dysfunctional and is so se...
1   2  ...      thanks for #lyft credit i can't use cause ...
2   3  ...                                bihday your majesty
3   4  ...  #model   i love u take with u all the time in ...
4   5  ...             factsguide: society now    #motivation

[5 rows x 4 columns]

2. Изменим регистр твитов на нижний с помощью .lower()

In [11]:
combine_df['clean_tweet'] = [str(tweet).lower() for tweet in combine_df['clean_tweet']]

In [12]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...     when a father is dysfunctional and is so se...
1   2  ...      thanks for #lyft credit i can't use cause ...
2   3  ...                                bihday your majesty
3   4  ...  #model   i love u take with u all the time in ...
4   5  ...             factsguide: society now    #motivation

[5 rows x 4 columns]

3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [13]:
def lookup(s, dict):
    return dict.get(s, s)

def expand(s_text, dict):
    return ' '.join(lookup(s,dict) for s in s_text.split())


combine_df['clean_tweet'] = [expand(str(tweet), apostrophe_dict) for tweet in combine_df['clean_tweet']]

In [14]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for #lyft credit i cannot use cause the...
2   3  ...                                bihday your majesty
3   4  ...  #model i love u take with u all the time in ur...
4   5  ...                factsguide: society now #motivation

[5 rows x 4 columns]

4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [15]:
combine_df['clean_tweet'] = [expand(str(tweet), short_word_dict) for tweet in combine_df['clean_tweet']]

In [16]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for #lyft credit i cannot use cause the...
2   3  ...                                bihday your majesty
3   4  ...  #model i love you take with you all the time i...
4   5  ...                factsguide: society now #motivation

[5 rows x 4 columns]

5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [17]:
combine_df['clean_tweet'] = [expand(str(tweet), emoticon_dict) for tweet in combine_df['clean_tweet']]

In [18]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for #lyft credit i cannot use cause the...
2   3  ...                                bihday your majesty
3   4  ...  #model i love you take with you all the time i...
4   5  ...                factsguide: society now #motivation

[5 rows x 4 columns]

6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [19]:
combine_df['clean_tweet'] = [re.sub(r'[^\w\s]', ' ', str(tweet)) for tweet in combine_df['clean_tweet']]

In [20]:
# Дополнительное пребразование после удаления спец символов
combine_df['clean_tweet'] = [expand(str(tweet), short_word_dict) for tweet in combine_df['clean_tweet']]

In [21]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for lyft credit i cannot use cause they...
2   3  ...                                bihday your majesty
3   4  ...  model i love you take with you all the time in...
4   5  ...                  factsguide society now motivation

[5 rows x 4 columns]

7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [22]:
combine_df['clean_tweet'] = [re.sub(r'[^a-zA-Z0-9]', ' ', str(tweet)) for tweet in combine_df['clean_tweet']]

In [23]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for lyft credit i cannot use cause they...
2   3  ...                                bihday your majesty
3   4  ...  model i love you take with you all the time in...
4   5  ...                  factsguide society now motivation

[5 rows x 4 columns]

8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [24]:
combine_df['clean_tweet'] = [re.sub(r'[^a-zA-Z]', ' ', str(tweet)) for tweet in combine_df['clean_tweet']]

In [25]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when a father is dysfunctional and is so selfi...
1   2  ...  thanks for lyft credit i cannot use cause they...
2   3  ...                                bihday your majesty
3   4  ...  model i love you take with you all the time in...
4   5  ...                  factsguide society now motivation

[5 rows x 4 columns]

9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [26]:
combine_df['clean_tweet'] = [' '.join([w for w in tweet.split() if len(w)>1]) for tweet in combine_df['clean_tweet']]

In [27]:
combine_df.head()

   id  ...                                        clean_tweet
0   1  ...  when father is dysfunctional and is so selfish...
1   2  ...  thanks for lyft credit cannot use cause they d...
2   3  ...                                bihday your majesty
3   4  ...    model love you take with you all the time in ur
4   5  ...                  factsguide society now motivation

[5 rows x 4 columns]

10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [28]:
# Повторил замену сокращений, тк не все замены сработали в пп 4 из-за спец символов
combine_df['clean_tweet'] = [expand(str(tweet), short_word_dict) for tweet in combine_df['clean_tweet']]

In [29]:
combine_df['tweet_token'] = [nltk.tokenize.word_tokenize(tweet) for tweet in combine_df['clean_tweet']]

In [30]:
combine_df.head()

   id  ...                                        tweet_token
0   1  ...  [when, father, is, dysfunctional, and, is, so,...
1   2  ...  [thanks, for, lyft, credit, can, not, use, cau...
2   3  ...                            [bihday, your, majesty]
3   4  ...  [model, love, you, take, with, you, all, the, ...
4   5  ...             [factsguide, society, now, motivation]

[5 rows x 5 columns]

11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [31]:
mystopwords = stopwords.words('english')
def remove_stopwords(token, stop_words = mystopwords):
    return [t for t in token if t not in stop_words]
combine_df['tweet_token_filtered'] = [remove_stopwords(tweet) for tweet in combine_df['tweet_token']]

In [32]:
combine_df.head()

   id  ...                               tweet_token_filtered
0   1  ...  [father, dysfunctional, selfish, drags, kids, ...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...
2   3  ...                                  [bihday, majesty]
3   4  ...                          [model, love, take, time]
4   5  ...                  [factsguide, society, motivation]

[5 rows x 6 columns]

12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [33]:
def Stemmer(token):
    stemmer = PorterStemmer()
    return [stemmer.stem(word) for word in token]
combine_df['tweet_stemmed'] = [Stemmer(token) for token in combine_df['tweet_token_filtered']]

In [34]:
combine_df.head()

   id  ...                                      tweet_stemmed
0   1  ...  [father, dysfunct, selfish, drag, kid, dysfunc...
1   2  ...  [thank, lyft, credit, use, caus, offer, wheelc...
2   3  ...                                  [bihday, majesti]
3   4  ...                          [model, love, take, time]
4   5  ...                        [factsguid, societi, motiv]

[5 rows x 7 columns]

13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [35]:
def Lemmatizer(token, pos='n'):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(word, pos) for word in token]
combine_df['tweet_lemmatized'] = [Lemmatizer(token) for token in combine_df['tweet_token_filtered']] # Существительные
combine_df['tweet_lemmatized'] = [Lemmatizer(token, 'v') for token in combine_df['tweet_token_filtered']] # Глаголы

In [36]:
combine_df.head()

   id  ...                                   tweet_lemmatized
0   1  ...  [father, dysfunctional, selfish, drag, kid, dy...
1   2  ...  [thank, lyft, credit, use, cause, offer, wheel...
2   3  ...                                  [bihday, majesty]
3   4  ...                          [model, love, take, time]
4   5  ...                  [factsguide, society, motivation]

[5 rows x 8 columns]

14. Сохраним результат предобработки в pickle-файл.

In [37]:
combine_df.to_pickle('df')